h1{
    color: #3900A3;
}
body{
    background-color: #BEFF8A;
}

.container {
    background-color: antiquewhite;
    text-align: center;
}

#font{
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style-type: none;
}

.grid-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.flex-list {
    display: flex;
    justify-content: center;
}

.flex-list a {
    padding: 10px;
    display: inline-block;
}


