h1{
    color: #3900A3;
}
body{
    background-color: #BEFF8A;
}

.container {
    background-color: antiquewhite;
    text-align: center;
}

#font{
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style-type: none;
}

.grid-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.flex-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-list a {
    padding: 10px;
    display: inline-block;
}

ul {
    padding-left: 0;
}

.courses {
    margin-top: 16px;
    border-bottom: solid antiquewhite;
}

#noborder {
    border-bottom: none;
}

@media (min-width: 600px){
    .flex-list {
        flex-direction: row;
    }
    .courses {
        border-bottom: solid black;
        display: grid;
        grid-template-columns: 1fr 2fr;      
    }
    .item2 {
        grid-row: 2;
    }
    .item3 {
        grid-column: 2;
    }
}

